<div class="text-block">
  <p> <%= @question %> </p>
  <p> -You</p>
</div>
<div class="text-block">
  <p> <%= @answer %> </p>
  <p> -Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
